<div class="popup-form">
  <h2>Account Settings</h2>
  <form>


    <div class="form-group">
      <label for="name">Name</label>
      <input class="bg-fade " placeholder="Type Here" type="text" id="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" id="surname" name="surname" required>
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="tel" id="phone" name="phone" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="number" id="age" name="age" required>
    </div>

    <div class="form-group">
      <label for="joining-date">Joining Date</label>
      <input type="date" id="joining-date" name="joining-date" required>
    </div>
    <button type="submit">Save Changes</button>
    <button class="cancel" type="">Cancel</button>
  </form>
</div>
